html,
body {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    /* border-radius: 100px; */
    /* background-color: transparent; */
}

body {
    display: flex;
    /* border-radius: 100px; */
}

